// Подключение своих шрифтов.
// Не пишите тут ничего, кроме @font-face
@font-face {
    font-family: RussoOne;
    src:
        url('../fonts/RussoOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: FuturaPT;
    src:
        url('../fonts/FuturaPTMedium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: FuturaPT;
    src:
        url('../fonts/FuturaPTLight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: FuturaPT;
    src:
        url('../fonts/FuturaPTBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
//
//@font-face {
//    font-family: Montserrat;
//    src: url('../fonts/Montserrat-Italic.woff2') format('woff2'),
//    url('../fonts/Montserrat-Italic.woff') format('woff');
//    font-weight: 400;
//    font-style: italic;
//}
