.about {
    margin-top: 116px;

    @media (max-width: $screen-lg) {
        margin-top: 50px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media (max-width: $screen-lg) {
            justify-content: space-around;
        }
    }

    &__item {
        margin-bottom: 60px;
        max-width: 350px;
        position: relative;
    }

    &__name {
        margin-bottom: 8px;
        padding-left: 68px;
        height: 54px;
        background-size: 50px !important;
        background-position-y: center !important;
        font-family: $font-family-title;
        font-size: $font-size--m;
        text-transform: inherit;
        line-height: 19px;
        display: flex;
        align-items: center;
    }
}
