.about {
    margin-top: 125px;

    @media (max-width: $screen-lg) {
        margin-top: 50px;
    }

    &__title {
        margin-bottom: 63px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media (max-width: $screen-lg) {
            justify-content: space-around;
        }
    }

    &__item {
        margin-bottom: 60px;
        max-width: 350px;
        position: relative;
        font-family: FuturaPT;
        font-weight: normal;

        &:first-child {
            font-weight: 300;
        }
    }

    &__name {
        margin-bottom: 8px;
        padding-left: 68px;
        height: 54px;
        background-size: 54px !important;
        background-position-y: center !important;
        font-family: RussoOne;
        font-size: $font-size--m;
        line-height: 19px;
        display: flex;
        align-items: center;
    }


    &__desc {



    }
}
