.btn {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 15px 0;
    font-size: $font-size;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background: $third-color;
    border: none;
    cursor: pointer;

    &:hover {
        background: $fifth-color;
    }

    &:active,
    &:focus {
        outline: none;
    }

    &-dashed {
        margin: 0 auto;
        padding: 0 18px 0 0;
        font-size: $font-size;
        line-height: 24px;
        color: #000;
        background: transparent;
        border-bottom: 1px dashed #00922E;
        position: relative;

        &:hover {
            background: transparent;
        }

        &:before {
            content: "";
            position: absolute;
            top: 45%;
            right: 0;
            width: 12px;
            height: 7px;
            background: url(/images/arrow-green.svg);
        }
    }

    &-arrow {
        padding: 0;
        border: none;
        background: transparent;
        position: relative;
        width: 12px;
        height: 7px;
        cursor: pointer;
        box-sizing: border-box;
        display: inline-block;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 12px;
            height: 7px;
            background: url(/images/arrow-green.svg);
        }

        &:active,
        &:focus {
            outline: none;
        }
    }

    &__long-arrow {
        font-size: $font-size--s;
        min-width: 280px;

        span {
            position: relative;
            right: 0;

            .arrow {
                display: inline-block;
                background: url(../images/icon/btn-arrow.svg);
                width: 50px;
                height: 8px;
            }
        }

        &:focus {
            display: none;
        }
    }
}
