.btn {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 15px 0;
    font-size: $font-size;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background: $third-color;
    border: none;

    &:hover {
        background: $fifth-color;
    }

    &:active,
    &:focus {
        outline: none;
    }
}
