.card {
    margin-right: 20px;
    padding: 10px;
    margin-bottom: 40px;
    background: $main-color;
    display: inline-block;

    &:nth-child(4n+4) {
        margin-right: 0;
    }

    @media (max-width: $screen-lg) {
        &:nth-child(4n+4) {
            margin-right: 20px;
        }
    }

    @media (max-width: $screen-md) {
        &:nth-child(3n+3) {
            margin-right: 0;
        }
    }

    @media (max-width: 900px) {
        &:nth-child(n) {
            margin-right: 0;
        }
    }

    &__name {
        margin: 14px 0 3px;
        font-size: $font-size--m;
        line-height: normal;
        color: $text-color;
        text-transform: inherit;

        &:hover {
            color: $third-color;
        }
    }

    &__list {
        margin-bottom: 10px;
    }

    &__item {
        font-size: $font-size--xs;
        line-height: 17px;
        color: $fourth-color;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__buy {
        font-size: $font-size--xs + 1;
        line-height: normal;
        color: $text-color;
        font-weight: 600;

        span {
            font-size: $font-size--m;
        }
    }

    &__btn {
        min-width: 114px;
        padding: 9px 0;
    }

    &__sorting-view  {
        margin-right: 0;
        display: flex;
        justify-content: space-between;

        .card {
            &__inner {
                display: flex;
                align-items: center;
            }

            &__name {
                margin: 7px 0 10px;
            }

            &__img {
                width: 110px;
                height: auto;
                margin-right: 44px;

                @media (max-width: $screen-md) {
                    margin-right: 10px;
                }
            }

            &__wrap {
                width: 45%;

                @media (max-width: $screen-md) {
                    width: 40%;
                }
            }

            &__buy {
                span {
                    font-size: $font-size--m + 2;
                }
            }

            &__btn {
                min-width: 160px;
                margin-right: 40px;

                @media (max-width: $screen-lg) {
                    margin-right: 10px;
                }

                @media (max-width: $screen-md) {
                    min-width: 115px;
                    margin-right: 0;
                }
            }
        }
    }
}
