.catalog-menu {
    margin-right: 37px;
    background: $main-color;
    display: inline-table;

    @media (max-width: $screen-sm) {
        margin-right: 0;
        display: none;
    }

    &--open {
        @media (max-width: $screen-sm) {
            display: block;
        }
    }
}
