.catalog-menu {
    margin-right: 58px;
    width: 240px;
    background: $main-color;

    @media (max-width: $screen-sm) {
        margin-right: 0;
        display: none;
        width: 100%;
    }

    &--open {
        @media (max-width: $screen-sm) {
            display: block;
        }
    }
}
