.clients {
    margin-bottom: 107px;

    @media (max-width: $screen-md) {
        margin-bottom: 80px;
    }

    @media (max-width: $screen-xs) {
        margin-bottom: 50px;
    }

    &__title {
        max-width: 1180px;
        margin: 0 auto;
        padding: 0 10px;
    }

    &__wrap {
        margin-top: 20px;
        background: #F1F1F1;
    }

    &__list {
        padding: 15px 10px;
        margin: 0 60px;
    }

    &__item {
        display: flex;
        flex-direction: column;
    }

    &__icon {
        margin: 0 auto;
        padding: 10px 0;
        filter: grayscale(100%);

        &:hover {
            filter: none;
        }
    }
}
