.contacts {
    &__list {
        margin-left: 70px;
        display: flex;

        @media (max-width: $screen-md) {
            margin-left: 20px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        margin-right: 45px;

        @media (max-width: $screen-md) {
            margin-right: 20px;
        }

        @media (max-width: $screen-xs) {
            margin-right: 0;
        }

        &:nth-child(2) {
            @media (max-width: $screen-sm) {
                display: none;
            }
        }

        &:nth-child(3) {
            @media (max-width: $screen-xs) {
                display: none;
            }
        }

        span {
            font-size: $font-size--xs - 1;
            color: #fff;
        }
    }

    &__link {
        font-size: $font-size--s;
        line-height: 16px;
        font-weight: bold;
        color: #fff;

        @media (max-width: $screen-xs) {
            font-size: $font-size--xs;
        }

        &--line {
            border-bottom: 2px solid #fff;
        }
    }

    &__city {
        position: relative;

        &:before {
            content: "";
            display: inline-block;
            position: absolute;
            top: 6px;
            right: 39px;
            width: 9px;
            height: 6px;
        }

        &--arrow:before {
            background: url(/images/icon/header-arrow.svg);
        }
    }
}
