.contacts {
    @media (max-width: $screen-xs) {
        display: none;
    }

    &__list {
        margin-left: 70px;
        display: flex;

        @media (max-width: $screen-lg) {
            margin-left: 0;
        }

        @media (max-width: $screen-md) {
            margin-left: 20px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        margin-right: 45px;
        position: relative;

        @media (max-width: $screen-lg) {
            margin-right: 20px;
        }

        @media (max-width: $screen-md) {
            margin-right: 20px;
        }

        @media (max-width: $screen-xs) {
            margin-right: 0;
        }

        &--city {
            @media (max-width: $screen-sm) {
                display: none;
            }
        }

        &--mail {
            @media (max-width: $screen-md) {
                display: none;
            }
        }

        &--contact {
            @media (max-width: $screen-sm) {
                display: none;
            }
        }

        span {
            font-size: $font-size--xs - 1;
            color: #fff;

            &:hover {
                .contacts__city-list {
                    display: block;
                }
            }
        }
    }

    &__link {
        font-size: $font-size--s;
        line-height: 16px;
        font-weight: bold;
        color: #fff;

        @media (max-width: $screen-xs) {
            font-size: $font-size--xs;
        }

        &--line {
            border-bottom: 2px solid #fff;
        }
    }

    &__city {
        position: relative;

        &:before {
            content: "";
            display: inline-block;
            position: absolute;
            top: 6px;
            right: -12px;
            width: 9px;
            height: 6px;
        }

        span {
            position: absolute;
            bottom: 0;
        }

        &--arrow:before {
            background: url(/images/icon/header-arrow.svg);
        }

        &-list {
            display: none;
            position: absolute;
            top: 18px;
            left: -9px;
            background: #F1F1F1;
            padding: 0 9px;
            z-index: 1;
        }


        &-item {
            width: 137px;
            padding: 3px 0;
        }

        &-link {
            font-size: $font-size--xs - 1px;
            line-height: 17px;
            color: $text-color;

            &:hover {
                color: $third-color;
            }

            &:focus,
            &:active,
            &:checked {
                color: $fourth-color;
            }

            &--active {
                color: $fourth-color;
            }
        }
    }
}
