.equipment {
    margin-bottom: 80px;

    @media (max-width: $screen-md) {
        margin-bottom: 4px;
        padding: 0 20px;
    }

    &__title {
        margin-bottom: 27px;

        @media (max-width: $screen-sm) {
            margin-bottom: 28px;
            font-size: $font-size;
            line-height: 16px;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        align-items: center;
        width: 220px;
        position: relative;

        @media (max-width: $screen-md) {
            margin-bottom: 33px;
        }

        @media (max-width: $screen-xs) {
            width: 100%;
        }

        span {
            font-size: $font-size--s;
            font-weight: 600;
            line-height: 123%;

            @media (max-width: $screen-sm) {
                font-size: $font-size;
                line-height: 18px;
                display: block;
            }
        }
    }

    &__img {
        width: 45px;
        margin-right: 25px;

        @media (max-width: $screen-sm) {
            width: 30px;
        }

        @media (max-width: $screen-xs) {
            width: 25px;
        }
    }
}
