.features {
    margin-bottom: 75px;

    @media (max-width: $screen-sm) {
        margin-bottom: 0;
    }

    &__wrapper {
        margin: 0 0 30px;
    }

    &__title {
        margin: 0 0 35px;

        @media (max-width: $screen-sm) {
            margin: 0 0 19px;
            font-size: $font-size--s;
            line-height: 18px;
        }
    }

    &__decs {
        display: flex;
        justify-content: space-between;

        @media (max-width: $screen-sm) {
            flex-direction: column;
        }
    }

    &__wrap {
        padding-right: 50px;

        @media (max-width: $screen-sm) {
            padding-right: 0;
        }
    }

    &__text {
        margin: 0 0 30px;
        font-size: $font-size;
        line-height: 24px;
    }

    &__photo {
        @media (max-width: $screen-sm) {
            margin: 0 auto;
        }
    }

    &__wrap {
        margin: 0 0 30px;
        display: flex;
        align-items: center;

        @media (max-width: $screen-sm) {
            margin: 0 0 19px;
        }
    }

    &__img {
        margin-right: 10px;
        width: 50px;

        @media (max-width: $screen-sm) {
            width: 35px;
        }
    }

    &__name {
        display: flex;
        align-items: center;
    }

    &__list {
        @media (max-width: $screen-sm) {
            margin-bottom: 30px;
        }
    }

    &__item {
        padding-left: 10px;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background: $third-color;
        }
    }
}
