.filter-sorter {
    @media (max-width: $screen-sm) {
        display: none;
    }

    &__title {
        margin-bottom: 26px;
    }

    &__list {
        margin-bottom: 24px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    &__item {
        margin-right: 11px;
        margin-bottom: 13px;
        width: 210px;
        min-height: 60px;
        position: relative;
        cursor: pointer;
        border: 2px solid $main-color;
        display: flex;
        align-items: center;

        &:before {
            content: "";
            position: absolute;
            top: -2px;
            left: -2px;
            bottom: -2px;
            width: 4px;
            background: $third-color;
        }

        &:nth-child(4n) {
            margin-right: 0;

            @media (max-width: $screen-lg) {
                margin-right: 11px;
            }
        }

        &:hover {
            a {
                text-decoration: none;
            }
        }

        a {
            padding: 4px 18px;
            width: 100%;
            font-size: $font-size;
            color: $text-color;
            line-height: 16px;
            text-decoration: underline;
        }
    }

    .breadcrumbs__list {
        padding: 31px 0 15px 0;
    }
}
