*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: $body-bg;
    margin: 0;
    min-height: 100%;
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    color: $text-color;
}

.page__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;

    @media (max-width: $screen-md) {
        max-width: 980px;
    }

    @media (max-width: $screen-sm) {
        max-width: 748px;
        padding: 0 20px;
    }

    @media (max-width: $screen-xs) {
        max-width: 460px;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1, .title-h1 {
    margin: 0 0 45px;
    font-family: $font-family-title;
    font-size: $font-size--h1;
    line-height: 42px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $text-color;

    @media (max-width: $screen-sm) {
        margin: 40px 0;
        font-size: $font-size--h3 - 3;
        line-height: 24px;
    }

    @media (max-width: $screen-xs) {
        margin: 30px 0;
    }
}

h2, .title-h2 {
    font-family: $font-family-title;
    font-size: $font-size--h2;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $text-color;
    margin: 0 0 35px;

    @media (max-width: $screen-sm) {
        margin: 0 0 27px;
        font-size: $font-size--h3;
        line-height: 21px;
    }

    @media (max-width: $screen-xs) {
        margin: 0 0 20px;
        font-size: $font-size--s;
        line-height: 18px;
    }
}

h3, .title-h3 {
    font-family: $font-family-title;
    font-size: $font-size--m;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
    color: $text-color;

    @media (max-width: $screen-sm) {
        line-height: 18px;
        font-size: $font-size--s;
    }

    @media (max-width: $screen-xs) {
        font-size: $font-size;
        line-height: 16px;
    }
}
.nowrap {
    white-space: nowrap;
}

.text, .features {
    margin: 0 0 30px;
    font-family: $font-family;
    font-size: $font-size;
    line-height: 24px;
    color: $text-color;
    
    li>a {
        color: #00922E!important;
    }

    li {
        margin: 0 0 10px!important;
        font-weight: normal;
        position: relative;
        padding-left: 20px!important;
        font-size: 14px;
        line-height: 18px;
        color: #1C1C1C;
    }

    li:before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 8px;
        left: 0;
        width: 5px;
        height: 5px;
        background: #00922E;
        border-radius: 5px;
    }

    ul {
        padding-left: 20px!important;
        margin: 0 0 30px!important;
    }

    table {
        width: 100%;
        border-spacing: 0;
    }

    tbody tr:nth-child(2n+1) {
        background: #F1F1F1;
    }

    td {
        padding: 15px 20px;
    }

    td, table {
        border: none;
    }

    td a {
        color: #1C1C1C;
        text-decoration: underline;
    }

    tbody tr:nth-child(1) {
        color: #fff;
        font-weight: bold;
        background: #00922E;
    }
}

ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

.slick-slide {
    height: auto;
}

.line {
    border-top: 1px solid $seventh-color;

    @media (max-width: $screen-sm) {
        display: none;
    }
}

textarea,
input[type="text"],
input[type="tel"],
input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0;
}

.hide {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.answer a {
    color: #00922E;
}

.features h2 {
    margin: 35px 0 10px;
}
