*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: $body-bg;
    margin: 0;
    min-height: 100%;
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    color: $text-color;
}

.page__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;

    @media (max-width: $screen-md) {
        max-width: 980px;
    }

    @media (max-width: $screen-sm) {
        max-width: 748px;
        padding: 0 20px;
    }

    @media (max-width: $screen-xs) {
        max-width: 460px;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.title-h1 {
    margin: 0 0 45px;
    font-family: $font-family;
    font-size: $font-size--h1;
    line-height: 57px;
    font-weight: 600;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $text-color;

    @media (max-width: $screen-sm) {
        margin: 40px 0;
        font-size: $font-size--h3 - 3;
        line-height: 24px;
    }

    @media (max-width: $screen-xs) {
        margin: 30px 0;
    }
}

.title-h2 {
    font-family: $font-family;
    font-size: $font-size--h2;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $text-color;
    margin: 0 0 35px;

    @media (max-width: $screen-sm) {
        margin: 0 0 27px;
        font-size: $font-size--h3;
        line-height: 21px;
    }

    @media (max-width: $screen-xs) {
        margin: 0 0 20px;
        font-size: $font-size--s;
        line-height: 18px;
    }
}

.title-h3 {
    font-family: $font-family;
    font-size: $font-size--m;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 600;
    color: $text-color;

    @media (max-width: $screen-sm) {
        line-height: 18px;
        font-size: $font-size--s;
    }

    @media (max-width: $screen-xs) {
        font-size: $font-size;
        line-height: 16px;
    }
}

.text {
    margin: 0 0 30px;
    font-family: $font-family;
    font-size: $font-size;
    line-height: 24px;
    color: $text-color;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

.slick-slide {
    height: auto;
}

.line {
    border-top: 1px solid $seventh-color;

    @media (max-width: $screen-sm) {
        display: none;
    }
}

textarea,
input[type="text"],
input[type="tel"],
input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0;
}
