.logo {
    max-width: 225px;
    display: flex;
    align-items: center;

    @media (max-width: $screen-md) {
        max-width: 190px;
    }

    & img {
        width: 75px;
        height: 74px;

        @media (max-width: $screen-xs) {
            width: 40px;
            height: 40px;
        }
    }

    strong {
        padding-left: 7px;
        font-size: $font-size--m;
        font-weight: bold;
        line-height: normal;
        color: #fff;

        @media (max-width: $screen-md) {
            font-size: $font-size;
        }

        @media (max-width: $screen-xs) {
            display: none;
        }
    }
}
