.logo {
    max-width: 225px;
    display: flex;
    align-items: center;

    strong {
        padding-left: 7px;
        font-size: $font-size--m;
        font-weight: bold;
        line-height: normal;
        color: #fff;
    }
}
