.products {
    &__title {
        margin: 18px 0 29px;
    }

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 70px;

        @media (max-width: 900px) {
            justify-content: space-between;
        }

        @media (max-width: $screen-sm) {
            justify-content: space-around;
            margin-bottom: 35px;
        }
    }
}
