.promo {
    //background: url(/images/bg/promo-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $screen-md) {
        flex-direction: column;
    }

    &__title {
        max-width: 796px;
        font-size: $font-size--h1;
        line-height: 57px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #fff;

        @media (max-width: 1550px) {
            max-width: 675px;
            font-size: $font-size--h2;
        }

        @media (max-width: $screen-lg) {
            padding-top: 50px;
            padding-left: 10px;
            max-width: 500px;
            font-size: $font-size--h3;
            line-height: 35px;
        }
    }

    .form {
        max-width: 380px;
        margin: 35px 0 45px;
        background: inherit;
        position: relative;
        top: 0;
        right: 250px;
        overflow: hidden;

        @media (max-width: 1550px) {
            right: 150px;
        }

        @media (max-width: $screen-lg) {
            right: 60px;
        }

        @media (max-width: $screen-md) {
            right: 0;
        }

        &:before {
            content: "";
            width: 380px;
            height: 570px;
            background: inherit;
            position: absolute;
            left: 0;
            top: 0;
            box-shadow: inset 0 0 0 230px rgba(0, 0, 0, 0.2);
            filter: blur(7px);
        }

        &__fieldset {
            position: relative;
            padding: 30px 29px 45px 29px;
            background: transparent;

            @media (max-width: $screen-md) {
                padding: 35px 25px;
            }

            @media (max-width: $screen-xs) {
                padding: 20px 10px;
            }
        }

        &__title {
            font-size: $font-size--m;
            line-height: normal;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: $third-color;
        }

        &__desc {
            margin: 10px 0 39px;
            font-size: $font-size--s;
            line-height: normal;
            color: #FFFFFF;
        }

        &__user-data {
            flex-direction: column;
            align-items: start;
        }

        &__text {
            order: 0;
            margin: 5px 0 35px;
            color: #fff;
        }

        &__btn {
            margin: 0 auto;
            font-weight: bold;
            color: #fff;
        }

        .field-text {
            padding-right: 0;

            &__wrap {
                width: 100%;
                flex-direction: column;
            }

            &__name {
                color: #fff;
            }

            &__input {
                width: 93.7%;
                margin-bottom: 29px;
                background: rgba(255, 255, 255, 0.2);
            }
        }
    }
}
