.seo-text {

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__title {
        margin-bottom: 45px;
    }

    &__text p {
        margin-bottom: 35px;
        max-width: 680px;
        font-size: $font-size;
        line-height: 24px;
        color: $text-color;
    }

    .form {

        &__fieldset {
            max-width: 320px;
            padding: 30px 29px 45px 29px;
            background: $third-color;
        }

        &__title {
            font-size: $font-size--m;
            line-height: normal;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: $text-color;
        }

        &__desc {
            margin: 10px 0 39px;
            font-size: $font-size--s;
            line-height: normal;
            color: #FFFFFF;
        }

        &__user-data {
            flex-direction: column;
            align-items: start;
        }

        &__text {
            order: 0;
            margin: 5px 0 35px;
            color: #fff;
        }

        &__btn {
            background: #fff;
            font-weight: bold;
            color: $text-color;
        }

        .field-text {
            &__name {
                color: #fff;
            }

            &__input {
                margin-bottom: 29px;
                background: rgba(255, 255, 255, 0.2);
            }
        }
    }

}
