.services-page {
    margin: 0 0 70px;

    @media (max-width: $screen-sm) {
        margin: 0 0 40px;
    }

    @media (max-width: $screen-xs) {
        margin: 0 0 27px;
    }

    &__wrap {
        margin: 0 0 40px;
        padding: 20px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 6px;

        @media (max-width: $screen-xs) {
            margin: 0 0 27px;
            padding: 0;
        }
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        @media (max-width: $screen-md) {
            justify-content: space-around;
        }
    }

    &__link {
        width: 340px;
        padding: 20px;

        @media (max-width: $screen-md) {
            width: 300px;
            margin: 0;
        }

        @media (max-width: $screen-sm) {
            width: 100%;
        }

        &:hover {
            border-radius: 5px;
            background: #fff;

            span {
                color: $third-color;
                transition: color 0.3s 0.3s linear;
            }

            p {
                color: #000;
            }
        }

        p {
            margin: 0;

            @media (max-width: $screen-xs) {
                margin: 0 0 20px;
            }
        }
    }
}
