.services {
    margin: 0 0 105px;
    background-image: url(../images/bg/services-bg.jpg);
    background-size: cover;
    background-position: center;


    @media (max-width: $screen-sm) {
        margin: 0 0 70px;
    }

    @media (max-width: $screen-xs) {
        margin: 0 0 50px;
    }

    p {
        color: $second-text-color;
        margin-bottom: 20px;
    }

    &__title {
        padding: 61px 0 46px;
        color: #fff;

        @media (max-width: $screen-md) {
            padding: 45px 0 40px;
        }

        @media (max-width: $screen-sm) {
            padding: 30px 0 25px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 119px;
        position: relative;

        @media (max-width: $screen-lg) {
            justify-content: space-around;
        }

        @media (max-width: $screen-md) {
            padding-bottom: 50px;
        }

        @media (max-width: $screen-sm) {
            padding-bottom: 30px;
        }
    }

    &__item {
        margin-bottom: 20px;
        padding: 10px 19px 3px;
        width: 342px;
        min-height: 137px;
        z-index: 1;
        background: rgba(0, 0, 0, 0.4);

        @media (max-width: $screen-sm) {
            padding: 10px 10px 3px;
            width: 290px;
        }
    }
}

.service {
    //&__item--big &__title  {
    //    margin-bottom: 32px;
    //
    //    @media (max-width: $screen-sm) {
    //        margin-bottom: 20px;
    //    }
    //}

    &__item--big &__title--big a {
        font-family: $font-family-title;
        font-size: $font-size--h3;
        line-height: normal;
        position: relative;

        @media (max-width: $screen-sm) {
            font-size: $font-size--m;
        }

        .arrow {
            transform: translateY(0);
        }
    }

    &__item--big:hover .arrow {
        transform: translateY(0) !important;
    }

    &__title {
        margin-bottom: 6px;
    }

    &__title a {
        font-family: $font-family-title;
        color: #fff;
        position: relative;

        &:hover {
            color: $third-color;

            .arrow {
                background: url(../images/icon/green-arrow.svg);
                transform: translateY(1.5px);
            }
        }

        .arrow {
            display: inline-block;
            background: url(../images/icon/service-arrow.svg);
            width: 8px;
            height: 12px;
            transform: translateY(1px);
        }
    }

    &__item--big &__list {
        margin-bottom: 30px;
    }

    &__item {
        font-weight: normal;
        position: relative;
        padding-left: 20px;
        font-size: $font-size;
        line-height: 26px;
        color: $second-text-color;

        &:before {
            content: "";
            display: inline-block;
            position: absolute;
            top: 10px;
            left: 0;
            width: 5px;
            height: 5px;
            background: $third-color;
            border-radius: 5px;
        }

        &--point {
            padding-left: 0;

            &:before {
                display: none;
            }
        }
    }
}
