.social {
    @media (max-width: $screen-sm) {
        margin-top: 20px;
    }

    &__list {
        display: flex;
    }

    &__item {
        margin-left: 10px;
        width: 30px;
        height: 28px;

        @media (max-width: $screen-sm) {
            margin-left: 0;
            margin-right: 10px;
        }
    }

    &__link {
        display: inline-block;
        fill: #fff;

        &:hover {
            fill: #88A590;
        }
    }
}
