.sorting-view {
    margin-bottom: 2px;
    display: flex;
    justify-content: flex-end;

    @media (max-width: $screen-sm) {
        display: none;
    }

    &__wrap {
        margin-left: 40px;
    }

    &__name {
        margin-right: 10px;
        font-size: $font-size--xs;
        line-height: 14px;
        color: $fourth-color;
    }

    &__btn {
        padding: 0 2px;
        vertical-align: middle;
        background: transparent;
        font-size: $font-size--s;
        line-height: 18px;
        color: $third-color;
        border: none;
        cursor: pointer;

        &:active,
        &:focus {
            outline: none;
        }

        &--active {
            color: $fourth-color;
        }

        &--line {
            padding: 0;
            width: 14px;
            height: 14px;
            border: none;
            position: relative;

            span {
                position: relative;
                display: block;
                width: 100%;
                height: 2px;
                vertical-align: middle;
                background: $seventh-color;

                &:before, &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background: $seventh-color;
                }

                &:before {
                    top: 6px;
                }

                &:after {
                    bottom: 6px;
                }
            }
        }

        &--grid {
            margin: 0 6px;
            padding: 0;
            width: 14px;
            height: 14px;
            border: none;
            background: $seventh-color;
            position: relative;

            span {
                position: relative;
                display: block;
                width: 100%;
                height: 2px;
                vertical-align: middle;
                background: #fff;

                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 2px;
                    background: #fff;
                    transform: rotate(90deg);
                }
            }
        }
    }

    &__btn--line.sorting-view__btn-view--active {
        span {
            background: $third-color;

            &:before, &:after {
                background: $third-color;
            }
        }
    }

    &__btn--grid.sorting-view__btn-view--active {
        background: $third-color;
    }
}
