.story-card {
    margin: 0 0 60px;

    @media (max-width: $screen-sm) {
        margin: 0 0 35px;
    }

    @media (max-width: $screen-xs) {
        margin: 0 0 20px;
    }

    &__name {
        margin: 0 0 20px;
        color: $third-color;
    }

    &__desc {
        margin: 0 0 30px;
    }

    &__photo {
        margin: 0 0 20px;
        text-align: center;
    }

    &__img {
        @media (max-width: $screen-sm) {
            width: 100%;
        }
    }
}
