.submenu-main {
    display: none;
    background:  $main-color;
    padding: 50px 20px;
    flex-direction: column;
    width: 1140px;
    z-index: 1;
    position: absolute;
    top: 62px;
    left: 0;

    @media (max-width: $screen-lg) {
        width: 940px;
    }

    @media (max-width: $screen-md) {
        width: 710px;
        padding: 25px 20px;
    }

    @media (max-width: $screen-sm) {
        width: 440px;
        padding: 10px;
    }

    @media (max-width: $screen-xs) {
        width: 280px;
        padding: 10px;
    }

    &__active {
        display: flex;
    }

    &__list {
        @media (max-width: $screen-md) {
            width: 110px;
        }

        @media (max-width: $screen-sm) {
            width: 200px;
            margin-bottom: 13px;
        }

        @media (max-width: $screen-xs) {
            width: 130px;
        }

        &--bottom {
            display: flex;
            flex-wrap: wrap;

            .submenu-main__item {
                max-width: 200px;
                margin-right: 50px;
            }
        }
    }

    &__item {
        padding: 7px 0;
        line-height: 15px;

        @media (max-width: $screen-sm) {
            padding: 3px 0;
        }

        &--head {
            padding: 0 0 14px 0;

            @media (max-width: $screen-sm) {
                padding: 0 0 7px 0;
            }
        }
    }

    &__link {
        font-size: $font-size--xs;
        font-size: 12px;
        line-height: 13px;
        color: $text-color;

        &:hover {
            color: $third-color;
        }

        &--head {
            font-size: $font-size--xs - 1;
            font-weight: bold;
            line-height: normal;
            letter-spacing: 0.03em;
            text-transform: uppercase;
        }
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
