.submenu {
    display: none;
    z-index: 1;
    width: 1140px;
    padding: 50px 20px;
    background: $main-color;
    position: absolute;
    top: 62px;
    left: 0;

    @media (max-width: $screen-lg) {
        width: 940px;
    }

    @media (max-width: $screen-md) {
        width: 710px;
        padding: 0 20px;
    }

    @media (max-width: $screen-sm) {
        width: 440px;
    }

    @media (max-width: $screen-xs) {
        padding: 0;
        margin-top: 20px;
        position: relative;
        top: 0;
        left: -10px;
        width: 104.4%;
    }

    @media (max-width: 440px) {
        width: 104.7%;
    }

    @media (max-width: 400px) {
        width: 106%;
    }

    @media (max-width: 330px) {
        width: 106.5%;
    }

    &__active {
        display: block;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media (max-width: $screen-xs) {
            flex-direction: column;
        }
    }

    &__list {
        @media (max-width: $screen-xs) {
            padding-left: 30px;
        }
    }

    &__list--bottom {
        justify-content: flex-start;
        margin-top: 20px;

        @media (max-width: $screen-xs) {
            margin-top: 0;
        }

       .submenu__item {
           padding-right: 35px;

           @media (max-width: $screen-xs) {
               padding-right: 0;
           }
       }
    }

    &__item {
        padding: 10px 0;
        width: 200px;

        @media (max-width: $screen-xs) {
            width: 100%;
        }

        &--arrow {
            position: relative;

            @media (max-width: $screen-xs) {
                &:before {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    top: 17px;
                    right: 20px;
                    width: 12px;
                    height: 7px;
                }

                &:before {
                    background: url(../images/icon/menu-arrow.svg);
                }
            }
        }

        &--head {
            &:hover {
                &:before {
                    transform: rotate(180deg);
                }

                @media (max-width: $screen-xs) {
                    .submenu-lev2 {
                        display: block;
                    }
                }
            }
        }
    }

    &__link {
        font-size: $font-size--xs;
        line-height: 17px;
        color: $text-color;

        &:hover {
            color: $third-color;
        }

        &--head {
            font-size: $font-size--xs - 1;
            font-weight: bold;
            line-height: normal;
            letter-spacing: 0.03em;
            text-transform: uppercase;
        }
    }

    &-lev2 {
        padding-top: 15px;

        @media (max-width: $screen-xs) {
            padding-top: 10px;
            display: none;
        }

        .submenu__list {
            padding: 0;
        }

        @media (max-width: $screen-xs) {
            .submenu__list {
                margin-top: 0;
                padding: 0 20px;
            }
        }

        .submenu__item {
            padding: 5px 0;
        }
    }
}
