.work {
    margin-bottom: 104px;

    @media (max-width: $screen-md) {
        margin-bottom: 80px;
    }

    @media (max-width: $screen-sm) {
        margin-bottom: 40px;
    }

    &__title {
        margin: 105px 0 57px;

        @media (max-width: $screen-md) {
            margin: 75px 0 45px;
        }

        @media (max-width: $screen-sm) {
            margin: 50px 0 35px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media (max-width: $screen-sm) {
            flex-direction: column;
            justify-content: center;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        max-width: 205px;
        position: relative;
        font-size: $font-size--m;
        font-family: $font-family-title;
        line-height: normal;
        font-weight: 600;
        text-align: center;
        color: #000000;

        @media (max-width: $screen-md) {
            max-width: 150px;
        }

        @media (max-width: $screen-sm) {
            margin-left: 0;
            flex-direction: row;
            max-width: 100%;
            margin-bottom: 30px;
            align-items: center;
            text-align: left;
        }

        &:first-child {
            max-width: 150px;

            @media (max-width: $screen-sm) {
                max-width: 100%;
            }
        }

        &:before {
            content: '';
            display: inline-block;
            border-bottom: 2px dotted #636b6f;
            position: absolute;
            top: 17px;
            right: -70px;
            width: 72px;

            @media (max-width: $screen-lg) {
                width: 50px;
                right: -66px;
            }

            @media (max-width: $screen-md) {
                width: 35px;
                right: -20px;
            }

            @media (max-width: $screen-sm) {
                display: none;
            }
        }

        &:nth-child(5) {
            &:before {
                display: none;
            }
        }
    }

    &__number {
        margin-bottom: 23px;
        font-size: $font-size--h2 + 6;
        line-height: normal;
        letter-spacing: 0.03em;
        color: $third-color;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            padding-left: 10px;
        }

        @media (max-width: $screen-sm) {
            padding: 0 10px;
            margin-bottom: 0;
        }
    }
}
