/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  margin: 0;
  min-height: 100%;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #1C1C1C;
}

.page__inner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  font-family: "Arial", sans-serif;
  font-size: 30px;
  line-height: normal;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #1C1C1C;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.btn {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 15px 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  background: #00922E;
  border: none;
}

.header-top {
  background: #00922E;
}
.header-top__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 0;
}
.header-top__buy {
  padding-left: 48px;
  max-width: 135px;
  position: relative;
}
.header-top__buy:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
}
.header-top__buy--request:before {
  background: url(../images/icon/header-request.svg);
}
.header-top__order {
  font-size: 11px;
  line-height: 10px;
  color: #fff;
}
.header-top__order p {
  margin-bottom: 7px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.logo {
  max-width: 225px;
  display: flex;
  align-items: center;
}
.logo strong {
  padding-left: 7px;
  font-size: 18px;
  font-weight: bold;
  line-height: normal;
  color: #fff;
}

.contacts__list {
  margin-left: 70px;
  display: flex;
}
.contacts__item {
  display: flex;
  flex-direction: column;
  margin-right: 45px;
}
.contacts__item span {
  font-size: 11px;
  color: #fff;
}
.contacts__link {
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: #fff;
}
.contacts__link--line {
  border-bottom: 2px solid #fff;
}
.contacts__city {
  position: relative;
}
.contacts__city:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 6px;
  right: 39px;
  width: 9px;
  height: 6px;
}
.contacts__city--arrow:before {
  background: url(/images/icon/header-arrow.svg);
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
}
.main-nav__item {
  padding: 20px 18px;
  position: relative;
}
.main-nav__item:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 46%;
  right: 28px;
  width: 12px;
  height: 7px;
}
.main-nav__item--main {
  background: #F1F1F1;
  padding: 20px 98px 20px 18px;
}
.main-nav__item--main:before {
  background: url(../images/icon/menu-arrow.svg);
}
.main-nav__item--arrow:before {
  right: 0;
  background: url(../images/icon/menu-arrow.svg);
}
.main-nav__item--padding {
  padding-left: 38px;
}
.main-nav__link {
  font-size: 16px;
  line-height: normal;
  font-weight: bold;
  color: #1C1C1C;
}

.submenu-main {
  display: none;
  background: #F1F1F1;
  padding: 50px 20px;
  flex-direction: column;
  width: 1140px;
  z-index: 1;
  position: absolute;
  top: 62px;
  left: 0;
}
.submenu-main__active {
  display: flex;
}
.submenu-main__list--bottom {
  display: flex;
}
.submenu-main__list--bottom .submenu-main__item {
  max-width: 200px;
  margin-right: 50px;
}
.submenu-main__item {
  padding: 7px 0;
  line-height: 15px;
}
.submenu-main__item--head {
  padding: 0 0 14px 0;
}
.submenu-main__link {
  font-size: 12px;
  font-size: 12px;
  line-height: 13px;
  color: #1C1C1C;
}
.submenu-main__link:hover {
  color: #00922E;
}
.submenu-main__link--head {
  font-size: 11px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.submenu-main__wrap {
  display: flex;
  justify-content: space-between;
}

.submenu, .submenu2 {
  display: none;
  z-index: 1;
  position: absolute;
  top: 62px;
  left: 0;
}
.submenu__active, .submenu2__active {
  display: block;
}
.submenu__list, .submenu2__list {
  background: #F1F1F1;
  padding: 10px 20px;
}
.submenu__item, .submenu2__item {
  padding: 10px 0;
  width: 200px;
}
.submenu__link, .submenu2__link {
  font-size: 12px;
  line-height: 17px;
  color: #1C1C1C;
}
.submenu__link:hover, .submenu2__link:hover {
  color: #00922E;
}

.promo {
  background: url(/images/bg/promo-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.promo__title {
  max-width: 796px;
  font-size: 38px;
  line-height: 57px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
.promo .form {
  margin: 35px 0 45px;
  background: inherit;
  position: relative;
  top: 0;
  right: 250px;
  overflow: hidden;
}
.promo .form:before {
  content: "";
  width: 450px;
  height: 570px;
  background: inherit;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: inset 0 0 0 230px rgba(0, 0, 0, 0.2);
  -webkit-filter: blur(7px);
          filter: blur(7px);
}
.promo .form__fieldset {
  position: relative;
  display: flex;
  max-width: 320px;
  padding: 30px 29px 45px 29px;
  background: transparent;
}
.promo .form__title {
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #00922E;
}
.promo .form__desc {
  margin: 10px 0 39px;
  font-size: 16px;
  line-height: normal;
  color: #FFFFFF;
}
.promo .form__user-data {
  flex-direction: column;
  align-items: start;
}
.promo .form__text {
  order: 0;
  margin: 5px 0 35px;
  color: #fff;
}
.promo .form__btn {
  background: #00922E;
  font-weight: bold;
  color: #fff;
}
.promo .form .field-text__name {
  color: #fff;
}
.promo .form .field-text__input {
  margin-bottom: 29px;
  background: rgba(255, 255, 255, 0.2);
}

.about {
  margin-top: 125px;
}
.about__title {
  margin-bottom: 63px;
}
.about__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about__item {
  margin-bottom: 60px;
  max-width: 350px;
  position: relative;
}
.about__item:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.about__item--work:before {
  top: -30px;
  width: 53px;
  height: 49px;
  background: url(../images/icon/work.png);
}
.about__item--practice:before {
  top: -43px;
  width: 58px;
  height: 67px;
  background: url(../images/icon/practice.png);
}
.about__item--time:before {
  top: -30px;
  width: 48px;
  height: 55px;
  background: url(../images/icon/time.png);
}
.about__item--products:before {
  top: -10px;
  width: 58px;
  height: 47px;
  background: url(../images/icon/products.png);
}
.about__item--production:before {
  top: -36px;
  width: 54px;
  height: 58px;
  background: url(../images/icon/production.png);
}
.about__item--warranty:before {
  top: -33px;
  width: 48px;
  height: 51px;
  background: url(../images/icon/warranty.png);
}
.about__name {
  margin-bottom: 8px;
  padding-left: 68px;
  font-size: 18px;
  line-height: 19px;
}

.products__title {
  margin: 18px 0 29px;
}
.products__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 70px;
}

.card {
  padding: 10px;
  margin-bottom: 40px;
  background: #F1F1F1;
  display: inline-block;
}
.card:hover {
  background: #D3D3D3;
}
.card:hover .card__name {
  color: #00922E;
}
.card__name {
  margin: 14px 0 3px;
  font-size: 18px;
  line-height: normal;
  color: #1C1C1C;
  text-transform: inherit;
}
.card__list {
  margin-bottom: 10px;
}
.card__item {
  font-size: 12px;
  line-height: 17px;
  color: #828282;
}
.card__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__buy {
  font-size: 13px;
  line-height: normal;
  color: #1C1C1C;
  font-weight: 600;
}
.card__buy span {
  font-size: 18px;
}
.card__btn {
  min-width: 114px;
  padding: 9px 0;
}

.services {
  background-image: url(../images/bg/services-bg.jpg);
  background-size: cover;
  background-position: center;
}
.services__title {
  padding: 61px 0 46px;
  color: #fff;
}
.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 119px;
  position: relative;
}
.services__item {
  margin-bottom: 20px;
  padding: 10px 19px 3px;
  width: 342px;
  min-height: 137px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}
.services__item:hover .service__title a {
  color: #00922E;
}
.services__item:hover .service__title a:before {
  background: url(../images/icon/green-arrow.svg);
}

.service__item--big .service__title {
  margin-bottom: 32px;
}
.service__item--big .service__title--big a {
  font-size: 24px;
  line-height: normal;
  position: relative;
}
.service__item--big .service__title--big a:before {
  top: 37px;
  right: -13px;
}
.service__title {
  margin-bottom: 6px;
}
.service__title a {
  color: #fff;
  position: relative;
}
.service__title a:before {
  content: "";
  position: absolute;
  top: 4px;
  right: -10px;
  background: url(../images/icon/service-arrow.svg);
  width: 8px;
  height: 12px;
}
.service__item--big .service__list {
  margin-bottom: 30px;
}
.service__item {
  position: relative;
  padding-left: 20px;
  font-size: 14px;
  line-height: 26px;
  color: #A6A6A6;
}
.service__item:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 5px;
  height: 5px;
  background: #00922E;
  border-radius: 5px;
}
.service__item--point {
  padding-left: 0;
}
.service__item--point:before {
  display: none;
}
.service__btn {
  font-size: 16px;
  min-width: 280px;
}
.service__btn span {
  position: relative;
  right: 30px;
}
.service__btn span:before {
  content: "";
  position: absolute;
  top: 7px;
  right: -57px;
  background: url(../images/icon/btn-arrow.svg);
  width: 50px;
  height: 8px;
}
.service__btn:focus {
  display: none;
}

.work {
  margin-bottom: 104px;
}
.work__title {
  margin: 105px 0 57px;
}
.work__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.work__item {
  display: flex;
  flex-direction: column;
  max-width: 205px;
  position: relative;
  font-size: 18px;
  line-height: normal;
  font-weight: 600;
  text-align: center;
  color: #000000;
}
.work__item:before {
  content: "";
  display: inline-block;
  border-bottom: 2px dotted #636b6f;
  position: absolute;
  top: 17px;
  right: -82px;
  width: 72px;
}
.work__item:nth-child(5):before {
  display: none;
}
.work__number {
  margin-bottom: 23px;
  font-size: 36px;
  line-height: normal;
  letter-spacing: 0.03em;
  color: #00922E;
  position: relative;
  right: 20px;
}
.work__number:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -5px;
  right: 0;
  width: 50px;
  height: 50px;
}
.work__number--request:before {
  background: url(../images/icon/request.svg);
}
.work__number--project:before {
  right: 30px;
  background: url(../images/icon/project.svg);
}
.work__number--contract:before {
  right: 25px;
  background: url(../images/icon/contract.svg);
}
.work__number--production:before {
  right: 35px;
  background: url(../images/icon/production.svg);
}
.work__number--install:before {
  right: 30px;
  background: url(../images/icon/install.svg);
}

.form {
  margin-bottom: 105px;
}
.form__fieldset {
  padding: 51px 79px 65px 98px;
  background: #F1F1F1;
  border: none;
}
.form__desc {
  margin: 12px 0 42px;
  font-size: 16px;
  line-height: normal;
  color: #1C1C1C;
}
.form__title {
  color: #00922E;
}
.form__user-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.form__btn {
  margin-left: 50px;
  min-width: 220px;
  height: 50px;
  font-size: 16px;
  line-height: normal;
}
.form .field-text {
  display: flex;
  flex-direction: column;
}
.form .field-text__name {
  margin-bottom: 5px;
  font-size: 12px;
  line-height: normal;
  color: #A9A9A9;
}
.form .field-text__input {
  min-width: 320px;
  height: 40px;
  border: none;
}
.form__text {
  order: 1;
  margin-top: 15px;
  font-size: 12px;
  line-height: normal;
  color: #1C1C1C;
}

.examples {
  margin-bottom: 105px;
}
.examples__title {
  margin-bottom: 25px;
}
.examples__list {
  padding-left: 22px;
  margin: 0 60px;
  display: flex;
  justify-content: space-around;
}
.examples__item {
  width: 180px;
  height: 300px;
  position: relative;
}
.examples__item:hover .examples__desc {
  display: block;
  height: 100%;
  width: 180px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}
.examples__desc {
  display: none;
}

.clients {
  margin-bottom: 107px;
}
.clients__title {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}
.clients__wrap {
  margin-top: 20px;
  background: #F1F1F1;
}
.clients__list {
  padding: 20px 0 20px 22px;
  margin: 0 60px;
}
.clients__item {
  display: flex;
  flex-direction: column;
}
.clients__icon {
  padding: 10px 0;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.clients__icon:hover {
  -webkit-filter: none;
          filter: none;
}

.slick__slider {
  position: absolute;
  z-index: 120;
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #00922E;
  cursor: pointer;
}
.slick__slider_prev {
  left: -60px;
}
.slick__slider_prev:after {
  content: "";
  display: block;
  background: url(../images/icon/next.svg);
  position: absolute;
  top: 27%;
  left: 33%;
  width: 12px;
  height: 21px;
}
.slick__slider_next {
  right: -60px;
}
.slick__slider_next:after {
  content: "";
  display: block;
  background: url(../images/icon/prev.svg);
  position: absolute;
  top: 26%;
  left: 43%;
  width: 12px;
  height: 21px;
}

.examples .slick-slide {
  width: 180px;
  height: 300px;
}

.clients .slick-slide {
  height: 150px;
}

.clients .slick__slider {
  top: 40%;
}

.seo-text__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.seo-text__title {
  margin-bottom: 45px;
}
.seo-text__text p {
  margin-bottom: 35px;
  max-width: 680px;
  font-size: 14px;
  line-height: 24px;
  color: #1C1C1C;
}
.seo-text .form__fieldset {
  max-width: 320px;
  padding: 30px 29px 45px 29px;
  background: #00922E;
}
.seo-text .form__title {
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #1C1C1C;
}
.seo-text .form__desc {
  margin: 10px 0 39px;
  font-size: 16px;
  line-height: normal;
  color: #FFFFFF;
}
.seo-text .form__user-data {
  flex-direction: column;
  align-items: start;
}
.seo-text .form__text {
  order: 0;
  margin: 5px 0 35px;
  color: #fff;
}
.seo-text .form__btn {
  background: #fff;
  font-weight: bold;
  color: #1C1C1C;
}
.seo-text .form .field-text__name {
  color: #fff;
}
.seo-text .form .field-text__input {
  margin-bottom: 29px;
  background: rgba(255, 255, 255, 0.2);
}

.footer {
  padding: 69px 0 63px;
  background: #114B21;
}
.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.footer-nav:after {
  content: "";
  position: absolute;
  bottom: 13px;
  width: 1180px;
  height: 1px;
  background: #fff;
}
.footer-nav__list--main .footer-nav__item {
  margin-bottom: 34px;
}
.footer-nav__list--main .footer-nav__link {
  font-family: "Arial", sans-serif;
  font-size: 16px;
}
.footer-nav__list {
  margin-bottom: 30px;
  max-width: 240px;
}
.footer-nav__item {
  margin-bottom: 10px;
}
.footer-nav__link {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: normal;
  color: #fff;
  font-weight: 200;
}
.footer-nav__link--bold {
  font-size: 16px;
  font-weight: bold;
}

.footer-contacts__title {
  margin: 12px 0 16px;
  font-size: 16px;
  line-height: normal;
  color: #fff;
  font-weight: 400;
}
.footer-contacts__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 501px;
}
.footer-contacts__item {
  margin-right: 35px;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.footer-contacts__item span {
  font-size: 11px;
  line-height: 15px;
}
.footer-contacts__link {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}
.footer-contacts__city {
  position: relative;
}
.footer-contacts__city:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 6px;
  right: 39px;
  width: 9px;
  height: 6px;
}
.footer-contacts__city--arrow:before {
  background: url(../images/icon/header-arrow.svg);
}
.footer-contacts__wrap {
  display: flex;
  margin-top: 33px;
}

.social__list {
  display: flex;
}
.social__item {
  margin-left: 10px;
  width: 30px;
  height: 28px;
}
.social__link {
  position: relative;
}
.social__link:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 28px;
}
.social__link--vk:before {
  background: url(/images/icon/vk.svg);
}
.social__link--fb:before {
  background: url(/images/icon/facebook.svg);
}
.social__link--inst:before {
  background: url(/images/icon/instagram.svg);
}
.social__link--exclude:before {
  background: url(/images/icon/exclude.svg);
}
.social__link--viber:before {
  background: url(/images/icon/viber.svg);
}
.social__link--telegram:before {
  background: url(/images/icon/telegram.svg);
}