@import 'AddElementButton';
@import 'AddItemButton';
@import 'TwoCols';
@import 'Gallery';
@import 'Images';

.builder {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;

  .element {
    .item {
      display: flex;
      justify-content: space-between;

      .content {
        display: flex;
        justify-content: space-between;
        width: calc(100% - 80px);
        border: 1px solid #f5f5f5;
        border-right: none;
      }
      .controls {
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 1px solid #f5f5f5;

        .move, .delete {
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;

          & > i {
            cursor: pointer;
          }
        }
      }
    }
  }
}